.navbar-list {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  z-index: 99;
  .navbar-list-item {
    position: relative;
    transition: all 0.5s ease;
    &:not(.logo) {
      color: $text-primary-light-color;
      cursor: pointer;
      position: relative;
      &:hover {
        transform: scale(99%);
        color: $primary-color;
      }
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        bottom: -20px;
        transform: scaleX(0%);
        transition: all 0.5s ease;
      }
      &:hover::before {
        transform: scaleX(80%);
      }
    }
    &.active::after {
      content: "";
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      bottom: -20px;
      transform: scaleX(80%);
      left: 0;
    }
  }
}

/* navbar list responsive */
.navbar-list-responsive {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#logo-game {
  width: 16rem;
  margin-left: -50px;
}

.logo-game-responsive {
  margin-left: -20px !important;
}
