@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  html {
    font-size: 45%;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sidebar-left{
    width: 50vw!important;
  }
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  html {
    font-size: 45%;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media only screen and (max-width: 800px) {
  .navbar-list{
    display: none!important;
  }
  .navbar-list-responsive{
    display: flex;
  }
  #hangtag2{
    left: calc(50% + 16%)!important;
  }
  #hangtag1{
    left: calc(50% - 20%)!important;
  }
}
